header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(
		45deg,
		rgb(46, 0, 211),
		rgb(30, 83, 255),
		#000,
		rgb(46, 0, 211),
		rgb(120, 3, 150)
	);
	color: aliceblue;
}

.title {
	font-family: 'Astro Space';
}

.headerImg {
	width: 70px;
	height: 70px;
}

.headerCap {
	text-align: center;
	font-family: 'Astro Space';
	color: aliceblue;
	background-color: rgba(22, 2, 97, 0.7);
	border-radius: 10px;
	padding: 3px;
	position: absolute;
	top: 40%;
	width: 80px;
	left: -10%;
}

.navLink {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-decoration: none;
}
