.createPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 20px;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: aliceblue;
	padding: 20px;
	border-radius: 10px;
}
