@font-face {
	font-family: 'Astro Space';
	src: url('./Assets/AstroSpace-eZ2Bg.ttf') format('TrueType');
}

Link {
	text-decoration: none;
}

body {
	background-image: url(./Assets/SVG/pattern.svg);
	background-repeat: no-repeat;
	background-position: cover;
}
