.messierCatalog {
	display: grid;
	gap: 5px 5px;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		'legend objList'
		'. objList';
	width: auto;
	content: '';
	clear: both;
}

.float {
	float: left;
}

.list {
	display: flex;
	grid-area: objList;
	flex-wrap: wrap;
	justify-content: space-around;
	width: auto;
	height: 850px;
	overflow-y: scroll;
	padding: 5px;
}
li {
	list-style-type: none;
}

.messierObject {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 475px;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	color: aliceblue;
}

.messierObject > .title {
	padding: 5px;
	margin: 0;
}

.messierObject > img {
	width: 300px;
	height: 300px;
	border-radius: 10px;
}

.stats {
	display: flex;
	flex-direction: column;
	width: 80%;
	text-align: left;
	justify-self: flex-start;
}

.legend {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	width: 80%;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
	grid-area: legend;
}

.legTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin: 0;
	text-align: center;
	background-color: aliceblue;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.content {
	padding: 5px;
	color: aliceblue;
	background-color: rgba(22, 2, 97, 0.7);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
